.footer {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
  color: #616668;
  background-color: white;
}
.footer-links {
  color: #616668;
  text-decoration: none;
}
.footer-links:hover {
  color: #da552f;
  text-decoration: none;
}
